{%extends 'reviews/base.html'%} {% block content %}
<br>
<h1 class="text-center">Locations</h1>
<style>
    body {
        animation: fadeInAnimation ease 0.7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #button {
        justify-content: center;
        padding-top: 10px;
    }
</style>
<form class="form-inline my-2 my-lg-0" id="button" method="GET" action="{% url 'reviews:index' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a location" aria-label="Search" name="title">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<!-- https://stackoverflow.com/questions/35868756/how-to-make-bootstrap-4-cards-the-same-height-in-card-columns
     - this is the stack overflow i used to make all the cards fit on the same height-->
<div class="container">
    <br>
    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="row">
                {% for location in locations %}
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card border-dark mb-3">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="{{location.image}}" alt="" class="img-responsive" width="75%">
                                <h3 class="text-center">{{location.location_name}}</h3>
                                <a href="{% url 'reviews:detail' location.id %}">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}